;; shadow-cljs configuration
{:source-paths ["src/dev" "src/main" "src/test"],
 ; :deps true
 :dev-http {8080 "public"},
 :dependencies [[reagent "1.2.0"]],
 :builds {:app {:modules {:main {:init-fn demo.app/init}}, :target :browser}}}
